.icon-sprite,
.icon-abajo_16_a,
.icon-abajo_16_b,
.icon-abajo_16_c,
.icon-abajo_16_d,
.icon-adelante_16_a,
.icon-adelante_16_b,
.icon-adelante_16_d,
.icon-adelante_32_b,
.icon-adelante_32_d,
.icon-adelante_32_k,
.icon-adelante_32_l,
.icon-adelante_32x32_000,
.icon-adelante_32x32_fff,
.icon-adelante_v2_16_a,
.icon-aguanieve,
.icon-apoyo_16_a,
.icon-apoyo_16_b,
.icon-apoyo_16_d,
.icon-apoyo_32_b,
.icon-apoyo_32_d,
.icon-arriba_16_a,
.icon-arriba_16_b,
.icon-arrow-right-16x16,
.icon-arrow_down_12x12_a,
.icon-arrow_down_16x16_2e6d9d,
.icon-arrow_down_16x16_333333,
.icon-arrow_down_16x16_49a3db,
.icon-arrow_down_16x16_a,
.icon-arrow_down_16x16_ffffff,
.icon-arrow_up_16x16_49a3db,
.icon-arrow_up_16x16_a,
.icon-arrow_up_16x16_b,
.icon-arrow_up_16x16_ffffff,
.icon-atras_16_a,
.icon-atras_16_d,
.icon-atras_32_a,
.icon-atras_32_b,
.icon-atras_32_c,
.icon-atras_32_d,
.icon-baja,
.icon-baja_16,
.icon-baja_64_j,
.icon-bubble_60x53,
.icon-bubble_candado_60x53,
.icon-buscar_16_a,
.icon-buscar_16_b,
.icon-buscar_16_c,
.icon-buscar_16_d,
.icon-buscar_16_g,
.icon-candado_32,
.icon-candado_32_d,
.icon-cerrar_16_c,
.icon-cerrar_16_d,
.icon-cerrar_24_d,
.icon-cerrar_32_a,
.icon-cerrar_32_b,
.icon-cerrar_32_c,
.icon-cerrar_32_d,
.icon-chubasco-debil,
.icon-chubasco,
.icon-close_12x12_a,
.icon-close_12x12_d,
.icon-close_16_a,
.icon-close_16x16_a,
.icon-comentarios2_36_d,
.icon-comentarios_16_b,
.icon-comentarios_16_c,
.icon-comentarios_16_d,
.icon-comentarios_32_a,
.icon-comentarios_32_b,
.icon-comentarios_32_c,
.icon-comentarios_32_d,
.icon-comments-30x20-000,
.icon-comments-30x20-fff,
.icon-comments_24x20_a,
.icon-comments_26x18_a,
.icon-cubierto,
.icon-denunciar_32_f,
.icon-derecha_16_a,
.icon-despejado,
.icon-dislike_32_f,
.icon-facebook_16_d,
.icon-facebook_30_a,
.icon-facebook_32_16_d,
.icon-facebook_32_a,
.icon-facebook_32_b,
.icon-facebook_32_c,
.icon-facebook_32_d,
.icon-facebook_36_d,
.icon-flecha_suscripcion,
.icon-forward_8x16_a,
.icon-foto_16_g,
.icon-galeria_32_d,
.icon-google_plus_36_d,
.icon-grafico_32_d,
.icon-granizo,
.icon-guia-tv,
.icon-horoscopo,
.icon-igual,
.icon-igual_16,
.icon-igual_64_c,
.icon-info,
.icon-like_32_e,
.icon-linkedin_32_d,
.icon-lluvia-moderada,
.icon-mail_30_a,
.icon-mail_32_a,
.icon-mail_32_b,
.icon-mail_32_c,
.icon-mail_32_d,
.icon-mail_36_d,
.icon-maxima,
.icon-menu_32_a,
.icon-menu_32_b,
.icon-menu_32_c,
.icon-menu_32_d,
.icon-minima,
.icon-niebla,
.icon-nieve,
.icon-nubes-altas,
.icon-nubes-claros,
.icon-nuboso,
.icon-partners-ministerio-energia,
.icon-partners-ministerio-industria,
.icon-partners-powered-ntt,
.icon-partners-reverso,
.icon-pausa_16_a,
.icon-pausa_16_d,
.icon-play_16_a,
.icon-play_16_d,
.icon-private_browsing_21,
.icon-rectificar_32_b,
.icon-rectificar_32_c,
.icon-refresh_16_b,
.icon-rss_30_a,
.icon-rss_36_d,
.icon-search_16x16_a,
.icon-search_16x16_d,
.icon-sube,
.icon-sube_16,
.icon-sube_64_i,
.icon-thetrustproject_b,
.icon-thetrustproject_g,
.icon-thetrustproject_w,
.icon-tiempo,
.icon-tormentas-lluvias,
.icon-tormentas,
.icon-twitter_14x11_a,
.icon-twitter_16_c,
.icon-twitter_16_d,
.icon-twitter_30_a,
.icon-twitter_32_16_d,
.icon-twitter_32_a,
.icon-twitter_32_b,
.icon-twitter_32_c,
.icon-twitter_32_d,
.icon-twitter_36_d,
.icon-usuario_32_a,
.icon-usuario_32_b,
.icon-usuario_32_c,
.icon-usuario_32_d,
.icon-ventoso,
.icon-video_16_g,
.icon-whatsapp_30_a,
.icon-whatsapp_36_d,
.icon-white-menu-user,
.icon-white_menu_open {
   background-image: url("");
   background-repeat: no-repeat
}

.icon-abajo_16_a {
   background-position: 0 0
}

.icon-abajo_16_b {
   background-position: 0 -32px
}

.icon-abajo_16_b:hover,
.icon-abajo_16_b.abajo_16_b-hover {
   background-position: 0 -16px
}

.icon-abajo_16_c {
   background-position: 0 -48px
}

.icon-abajo_16_d {
   background-position: 0 -64px
}

.icon-adelante_16_a {
   background-position: 0 -96px
}

.icon-adelante_16_a:hover,
.icon-adelante_16_a.adelante_16_a-hover {
   background-position: 0 -80px
}

.icon-adelante_16_b {
   background-position: 0 -112px
}

.icon-adelante_16_d {
   background-position: 0 -128px
}

.icon-adelante_32_b {
   background-position: 0 -176px
}

.icon-adelante_32_b:hover,
.icon-adelante_32_b.adelante_32_b-hover {
   background-position: 0 -144px
}

.icon-adelante_32_d {
   background-position: 0 -208px
}

.icon-adelante_32_k {
   background-position: 0 -272px
}

.icon-adelante_32_k:hover,
.icon-adelante_32_k.adelante_32_k-hover {
   background-position: 0 -240px
}

.icon-adelante_32_l {
   background-position: 0 -319px
}

.icon-adelante_32_l:hover,
.icon-adelante_32_l.adelante_32_l-hover {
   background-position: 0 -304px
}

.icon-adelante_32x32_000 {
   background-position: 0 -334px
}

.icon-adelante_32x32_fff {
   background-position: 0 -350px
}

.icon-adelante_v2_16_a {
   background-position: 0 -382px
}

.icon-adelante_v2_16_a:hover,
.icon-adelante_v2_16_a.adelante_v2_16_a-hover {
   background-position: 0 -366px
}

.icon-aguanieve {
   background-position: 0 -398px
}

.icon-apoyo_16_a {
   background-position: 0 -446px
}

.icon-apoyo_16_b {
   background-position: 0 -462px
}

.icon-apoyo_16_d {
   background-position: 0 -478px
}

.icon-apoyo_32_b {
   background-position: 0 -494px
}

.icon-apoyo_32_d {
   background-position: 0 -526px
}

.icon-arriba_16_a {
   background-position: 0 -558px
}

.icon-arriba_16_b {
   background-position: 0 -590px
}

.icon-arriba_16_b:hover,
.icon-arriba_16_b.arriba_16_b-hover {
   background-position: 0 -574px
}

.icon-arrow-right-16x16 {
   background-position: 0 -606px
}

.icon-arrow_down_12x12_a {
   background-position: 0 -634px
}

.icon-arrow_down_12x12_a:hover,
.icon-arrow_down_12x12_a.arrow_down_12x12_a-hover {
   background-position: 0 -622px
}

.icon-arrow_down_16x16_2e6d9d {
   background-position: 0 -646px
}

.icon-arrow_down_16x16_333333 {
   background-position: 0 -662px
}

.icon-arrow_down_16x16_49a3db {
   background-position: 0 -678px
}

.icon-arrow_down_16x16_a {
   background-position: 0 -710px
}

.icon-arrow_down_16x16_a:hover,
.icon-arrow_down_16x16_a.arrow_down_16x16_a-hover {
   background-position: 0 -694px
}

.icon-arrow_down_16x16_ffffff {
   background-position: 0 -726px
}

.icon-arrow_up_16x16_49a3db {
   background-position: 0 -742px
}

.icon-arrow_up_16x16_a {
   background-position: 0 -774px
}

.icon-arrow_up_16x16_a:hover,
.icon-arrow_up_16x16_a.arrow_up_16x16_a-hover {
   background-position: 0 -758px
}

.icon-arrow_up_16x16_b {
   background-position: 0 -790px
}

.icon-arrow_up_16x16_ffffff {
   background-position: 0 -806px
}

.icon-atras_16_a {
   background-position: 0 -838px
}

.icon-atras_16_a:hover,
.icon-atras_16_a.atras_16_a-hover {
   background-position: 0 -822px
}

.icon-atras_16_d {
   background-position: 0 -854px
}

.icon-atras_32_a {
   background-position: 0 -870px
}

.icon-atras_32_b {
   background-position: 0 -934px
}

.icon-atras_32_b:hover,
.icon-atras_32_b.atras_32_b-hover {
   background-position: 0 -902px
}

.icon-atras_32_c {
   background-position: 0 -966px
}

.icon-atras_32_d {
   background-position: 0 -998px
}

.icon-baja {
   background-position: 0 -1030px
}

.icon-baja_16 {
   background-position: 0 -1066px
}

.icon-baja_64_j {
   background-position: 0 -1082px
}

.icon-bubble_60x53 {
   background-position: 0 -1146px
}

.icon-bubble_candado_60x53 {
   background-position: 0 -1199px
}

.icon-buscar_16_a {
   background-position: 0 -1268px
}

.icon-buscar_16_a:hover,
.icon-buscar_16_a.buscar_16_a-hover {
   background-position: 0 -1252px
}

.icon-buscar_16_b {
   background-position: 0 -1284px
}

.icon-buscar_16_c {
   background-position: 0 -1300px
}

.icon-buscar_16_d {
   background-position: 0 -1316px
}

.icon-buscar_16_g {
   background-position: 0 -1332px
}

.icon-candado_32 {
   background-position: 0 -1348px
}

.icon-candado_32_d {
   background-position: 0 -1380px
}

.icon-cerrar_16_c {
   background-position: 0 -1412px
}

.icon-cerrar_16_d {
   background-position: 0 -1428px
}

.icon-cerrar_24_d {
   background-position: 0 -1468px
}

.icon-cerrar_24_d:hover,
.icon-cerrar_24_d.cerrar_24_d-hover {
   background-position: 0 -1444px
}

.icon-cerrar_32_a {
   background-position: 0 -1524px
}

.icon-cerrar_32_a:hover,
.icon-cerrar_32_a.cerrar_32_a-hover {
   background-position: 0 -1492px
}

.icon-cerrar_32_b {
   background-position: 0 -1556px
}

.icon-cerrar_32_c {
   background-position: 0 -1588px
}

.icon-cerrar_32_d {
   background-position: 0 -1620px
}

.icon-chubasco-debil {
   background-position: 0 -1652px
}

.icon-chubasco {
   background-position: 0 -1700px
}

.icon-close_12x12_a {
   background-position: 0 -1760px
}

.icon-close_12x12_a:hover,
.icon-close_12x12_a.close_12x12_a-hover {
   background-position: 0 -1748px
}

.icon-close_12x12_d {
   background-position: 0 -1772px
}

.icon-close_16_a {
   background-position: 0 -1784px
}

.icon-close_16x16_a {
   background-position: 0 -1817px
}

.icon-close_16x16_a:hover,
.icon-close_16x16_a.close_16x16_a-hover {
   background-position: 0 -1801px
}

.icon-comentarios2_36_d {
   background-position: 0 -1833px
}

.icon-comentarios_16_b {
   background-position: 0 -1885px
}

.icon-comentarios_16_b:hover,
.icon-comentarios_16_b.comentarios_16_b-hover {
   background-position: 0 -1869px
}

.icon-comentarios_16_c {
   background-position: 0 -1901px
}

.icon-comentarios_16_d {
   background-position: 0 -1917px
}

.icon-comentarios_32_a {
   background-position: 0 -1933px
}

.icon-comentarios_32_b {
   background-position: 0 -1997px
}

.icon-comentarios_32_b:hover,
.icon-comentarios_32_b.comentarios_32_b-hover {
   background-position: 0 -1965px
}

.icon-comentarios_32_c {
   background-position: 0 -2029px
}

.icon-comentarios_32_d {
   background-position: 0 -2061px
}

.icon-comments-30x20-000 {
   background-position: 0 -2093px
}

.icon-comments-30x20-fff {
   background-position: 0 -2113px
}

.icon-comments_24x20_a {
   background-position: 0 -2152px
}

.icon-comments_24x20_a:hover,
.icon-comments_24x20_a.comments_24x20_a-hover {
   background-position: 0 -2133px
}

.icon-comments_26x18_a {
   background-position: 0 -2171px
}

.icon-cubierto {
   background-position: 0 -2189px
}

.icon-denunciar_32_f {
   background-position: 0 -2237px
}

.icon-derecha_16_a {
   background-position: 0 -2285px
}

.icon-derecha_16_a:hover,
.icon-derecha_16_a.derecha_16_a-hover {
   background-position: 0 -2269px
}

.icon-despejado {
   background-position: 0 -2301px
}

.icon-dislike_32_f {
   background-position: 0 -2349px
}

.icon-facebook_16_d {
   background-position: 0 -2381px
}

.icon-facebook_30_a {
   background-position: 0 -2427px
}

.icon-facebook_30_a:hover,
.icon-facebook_30_a.facebook_30_a-hover {
   background-position: 0 -2397px
}

.icon-facebook_32_16_d {
   background-position: 0 -2457px
}

.icon-facebook_32_a {
   background-position: 0 -2489px
}

.icon-facebook_32_b {
   background-position: 0 -2521px
}

.icon-facebook_32_c {
   background-position: 0 -2553px
}

.icon-facebook_32_d {
   background-position: 0 -2585px
}

.icon-facebook_36_d {
   background-position: 0 -2621px
}

.icon-flecha_suscripcion {
   background-position: 0 -2673px
}

.icon-flecha_suscripcion:hover,
.icon-flecha_suscripcion.flecha_suscripcion-hover {
   background-position: 0 -2657px
}

.icon-forward_8x16_a {
   background-position: 0 -2705px
}

.icon-forward_8x16_a:hover,
.icon-forward_8x16_a.forward_8x16_a-hover {
   background-position: 0 -2689px
}

.icon-foto_16_g {
   background-position: 0 -2721px
}

.icon-galeria_32_d {
   background-position: 0 -2737px
}

.icon-google_plus_36_d {
   background-position: 0 -2769px
}

.icon-grafico_32_d {
   background-position: 0 -2805px
}

.icon-granizo {
   background-position: 0 -2837px
}

.icon-guia-tv {
   background-position: 0 -2885px
}

.icon-horoscopo {
   background-position: 0 -2921px
}

.icon-igual {
   background-position: 0 -2957px
}

.icon-igual_16 {
   background-position: 0 -2993px
}

.icon-igual_64_c {
   background-position: 0 -3009px
}

.icon-info {
   background-position: 0 -3073px
}

.icon-like_32_e {
   background-position: 0 -3087px
}

.icon-linkedin_32_d {
   background-position: 0 -3119px
}

.icon-lluvia-moderada {
   background-position: 0 -3151px
}

.icon-mail_30_a {
   background-position: 0 -3229px
}

.icon-mail_30_a:hover,
.icon-mail_30_a.mail_30_a-hover {
   background-position: 0 -3199px
}

.icon-mail_32_a {
   background-position: 0 -3259px
}

.icon-mail_32_b {
   background-position: 0 -3291px
}

.icon-mail_32_c {
   background-position: 0 -3323px
}

.icon-mail_32_d {
   background-position: 0 -3355px
}

.icon-mail_36_d {
   background-position: 0 -3387px
}

.icon-maxima {
   background-position: 0 -3423px
}

.icon-menu_32_a {
   background-position: 0 -3471px
}

.icon-menu_32_a:hover,
.icon-menu_32_a.menu_32_a-hover {
   background-position: 0 -3439px
}

.icon-menu_32_b {
   background-position: 0 -3503px
}

.icon-menu_32_c {
   background-position: 0 -3535px
}

.icon-menu_32_d {
   background-position: 0 -3567px
}

.icon-minima {
   background-position: 0 -3599px
}

.icon-niebla {
   background-position: 0 -3615px
}

.icon-nieve {
   background-position: 0 -3663px
}

.icon-nubes-altas {
   background-position: 0 -3711px
}

.icon-nubes-claros {
   background-position: 0 -3759px
}

.icon-nuboso {
   background-position: 0 -3807px
}

.icon-partners-ministerio-energia {
   background-position: 0 -3855px
}

.icon-partners-ministerio-industria {
   background-position: 0 -3901px
}

.icon-partners-powered-ntt {
   background-position: 0 -3951px
}

.icon-partners-reverso {
   background-position: 0 -3984px
}

.icon-pausa_16_a {
   background-position: 0 -4033px
}

.icon-pausa_16_a:hover,
.icon-pausa_16_a.pausa_16_a-hover {
   background-position: 0 -4017px
}

.icon-pausa_16_d {
   background-position: 0 -4049px
}

.icon-play_16_a {
   background-position: 0 -4081px
}

.icon-play_16_a:hover,
.icon-play_16_a.play_16_a-hover {
   background-position: 0 -4065px
}

.icon-play_16_d {
   background-position: 0 -4097px
}

.icon-private_browsing_21 {
   background-position: 0 -4113px
}

.icon-rectificar_32_b {
   background-position: 0 -4166px
}

.icon-rectificar_32_b:hover,
.icon-rectificar_32_b.rectificar_32_b-hover {
   background-position: 0 -4134px
}

.icon-rectificar_32_c {
   background-position: 0 -4230px
}

.icon-rectificar_32_c:hover,
.icon-rectificar_32_c.rectificar_32_c-hover {
   background-position: 0 -4198px
}

.icon-refresh_16_b {
   background-position: 0 -4277px
}

.icon-refresh_16_b:hover,
.icon-refresh_16_b.refresh_16_b-hover {
   background-position: 0 -4262px
}

.icon-rss_30_a {
   background-position: 0 -4322px
}

.icon-rss_30_a:hover,
.icon-rss_30_a.rss_30_a-hover {
   background-position: 0 -4292px
}

.icon-rss_36_d {
   background-position: 0 -4352px
}

.icon-search_16x16_a {
   background-position: 0 -4404px
}

.icon-search_16x16_a:hover,
.icon-search_16x16_a.search_16x16_a-hover {
   background-position: 0 -4388px
}

.icon-search_16x16_d {
   background-position: 0 -4420px
}

.icon-sube {
   background-position: 0 -4436px
}

.icon-sube_16 {
   background-position: 0 -4472px
}

.icon-sube_64_i {
   background-position: 0 -4488px
}

.icon-thetrustproject_b {
   background-position: 0 -4552px
}

.icon-thetrustproject_g {
   background-position: 0 -4588px
}

.icon-thetrustproject_w {
   background-position: 0 -4624px
}

.icon-tiempo {
   background-position: 0 -4660px
}

.icon-tormentas-lluvias {
   background-position: 0 -4708px
}

.icon-tormentas {
   background-position: 0 -4756px
}

.icon-twitter_14x11_a {
   background-position: 0 -4815px
}

.icon-twitter_14x11_a:hover,
.icon-twitter_14x11_a.twitter_14x11_a-hover {
   background-position: 0 -4804px
}

.icon-twitter_16_c {
   background-position: 0 -4826px
}

.icon-twitter_16_d {
   background-position: 0 -4842px
}

.icon-twitter_30_a {
   background-position: 0 -4888px
}

.icon-twitter_30_a:hover,
.icon-twitter_30_a.twitter_30_a-hover {
   background-position: 0 -4858px
}

.icon-twitter_32_16_d {
   background-position: 0 -4918px
}

.icon-twitter_32_a {
   background-position: 0 -4950px
}

.icon-twitter_32_b {
   background-position: 0 -4982px
}

.icon-twitter_32_c {
   background-position: 0 -5014px
}

.icon-twitter_32_d {
   background-position: 0 -5046px
}

.icon-twitter_36_d {
   background-position: 0 -5082px
}

.icon-usuario_32_a {
   background-position: 0 -5150px
}

.icon-usuario_32_a:hover,
.icon-usuario_32_a.usuario_32_a-hover {
   background-position: 0 -5118px
}

.icon-usuario_32_b {
   background-position: 0 -5182px
}

.icon-usuario_32_c {
   background-position: 0 -5214px
}

.icon-usuario_32_d {
   background-position: 0 -5246px
}

.icon-ventoso {
   background-position: 0 -5278px
}

.icon-video_16_g {
   background-position: 0 -5326px
}

.icon-whatsapp_30_a {
   background-position: 0 -5372px
}

.icon-whatsapp_30_a:hover,
.icon-whatsapp_30_a.whatsapp_30_a-hover {
   background-position: 0 -5342px
}

.icon-whatsapp_36_d {
   background-position: 0 -5402px
}

.icon-white-menu-user {
   background-position: 0 -5438px
}

.icon-white_menu_open {
   background-position: 0 -5471px
}

.icon-print {
   background-color: #00b200;
   border-radius: 50%
}

.icon-print:hover {
   background-color: #00b200
}

.icon-comments {
   background-color: #444;
   border-radius: 50%
}

.icon-comments:hover {
   background-color: #444
}

.icon-spanish {
   background-color: #444;
   border-radius: 50%
}

.icon-spanish:hover {
   background-color: #444
}

.icon-english {
   background-color: #c00;
   border-radius: 50%
}

.icon-english:hover {
   background-color: #c00
}

.icon-twitter-corporative {
   background-color: #000;
   border-radius: 50%
}

.icon-twitter-corporative:hover {
   background-color: #000
}

.icon-facebook-corporative {
   background-color: #2e6d9d;
   border-radius: 50%
}

.icon-facebook-corporative:hover {
   background-color: #49a3db
}

.icon-search-corporative {
   background-color: #000;
   border-radius: 50%
}

.icon-search-corporative:hover {
   background-color: #000
}

.icon-english-corporative {
   background-color: #000;
   border-radius: 50%
}

.icon-english-corporative:hover {
   background-color: #000
}

.icon-login-corporative {
   background-color: #000;
   border-radius: 50%
}

.icon-login-corporative:hover {
   background-color: #000
}

.icon-arrow-corporative {
   background-color: #000;
   border-radius: 50%
}

.icon-arrow-corporative:hover {
   background-color: #000
}

.icon-arrow-down {
   background-color: #000;
   border-radius: 50%
}

.icon-arrow-down:hover {
   background-color: #000
}

.icon-doc-heading {
   background-color: #000;
   border-radius: 50%
}

.icon-doc-heading:hover {
   background-color: #c00
}

.icon-radio-heading {
   background-color: #000;
   border-radius: 50%
}

.icon-radio-heading:hover {
   background-color: #c00
}

.icon-toggle {
   background-color: #c00;
   border-radius: 50%
}

.icon-toggle:hover {
   background-color: #c00
}

.icon-arrow-right {
   background-color: #fff;
   border-radius: 50%
}

.icon-arrow-right:hover {
   background-color: #fff
}

.site-footer {
   overflow: hidden;
   font-family: "Roboto_condensed";
   text-align: center;
   margin: 0;
   padding: 0;
   clear: both;
   position: relative;
   z-index: 1
}

.container-about-footer {
   margin: 0 20px;
   max-width: 100%;
   border-bottom: 1px solid gray
}

.container-about-footer .container {
   display: flex
}

.container-list-footer {
   margin: 0 20px;
   text-align: center;
   font-family: "Roboto_condensed";
   border-bottom: 1px solid gray
}

.container-list-footer:before,
.container-list-footer:after {
   content: " ";
   display: table
}

.container-list-footer:after {
   clear: both
}

.container-list-footer a {
   font-family: "Roboto_condensed";
   font-size: 13px;
   color: #2E6D9D
}

.container-list-footer a:hover {
   color: #2A7AAC
}

.list-corporative {
   display: flex;
   justify-content: space-between;
   margin: 10px 0
}

.list-corporative li {
   margin-right: 0
}

.list-corporative li:last-child a:after {
   content: none
}

.list-corporative a {
   font-size: 13px;
   line-height: 20px;
   font-family: "Roboto_condensed";
   color: #4a4a4a;
   display: block
}

.list-corporative a:after {
   content: "|";
   margin: 13px
}

.arrow-toggle {
   margin: 0 auto;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray
}

.arrow-toggle h3 {
   text-transform: uppercase;
   font-family: "Roboto_condensed";
   padding: 8px 0;
   display: block;
   position: relative;
   font-size: 14px
}

.container-toggle {
   display: flex;
   justify-content: space-between;
   width: 1440px;
   margin: 10px auto 0
}

.container-toggle .list-footer {
   line-height: 160%;
   font-size: 15px;
   margin-bottom: 20px
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
   .container-toggle .list-footer {
      width: 25%
   }
}

.container-toggle .list-footer li {
   line-height: 18px;
   text-align: left
}

.container-toggle .list-footer li a {
   padding: 0
}

.container-toggle .list-footer li:after {
   display: none
}

.container-toggle .list-footer li+li:after {
   content: "\2022";
   color: #fff;
   font-size: 14px
}

.container-toggle .list-footer li:last-child:after {
   display: none
}

.container-toggle .list-footer .highlight {
   display: block;
   font-size: 14px;
   font-family: "Roboto_condensed";
   margin-bottom: 10px
}

.container-toggle .list-footer:last-child {
   margin-bottom: 0
}

.about-list {
   margin: 0 auto;
   justify-content: center;
   font-family: "Roboto_condensed";
   text-align: center;
   width: 50%;
   z-index: 0
}

.about-list p,
.about-list span {
   text-align: center;
   font-size: 12px
}

.about-list .copyright {
   color: #4a4a4a;
   font-size: 12px;
   margin: 5px
}

.about-list .copyright address {
   font-style: normal
}

.about-list .copyright .icon-elmundo-mobile {
   background: url("") no-repeat transparent 0 50%;
   background-image: url(""), none;
   background-size: contain;
   width: 143px;
   height: 26px;
   display: block;
   margin: 5px auto
}

.about-list a {
   color: #000;
   padding: 0 5px;
   font-size: 100%
}

.about-list a:hover {
   color: #2A7AAC
}

.footer-social-networks {
   width: 25%;
   z-index: 3
}

.footer-social-networks ul {
   display: flex;
   justify-content: flex-end;
   margin: 15px auto
}

.footer-social-networks ul li {
   margin: 0 15px 0 0
}

.footer-social-networks ul li a {
   display: block;
   border-radius: 50%
}

.footer-social-networks ul li:last-child {
   margin: 0
}

.footer-social-networks ul i {
   width: 30px;
   height: 30px;
   display: block;
   margin: 0
}

.partners {
   justify-content: flex-start;
   margin: 7px 0;
   width: 25%;
   z-index: 3
}

.partners li {
   float: left;
   margin: 5px 5px 0 0;
   margin-right: 14px
}

.partners i {
   display: inline-block
}

.partners .icon-partners-reverso {
   width: 34px;
   height: 33px
}

.partners .icon-partners-powered-ntt {
   width: 100px;
   height: 33px
}

.partners .icon-thetrustproject_b {
   height: 36px;
   width: 78px
}

.container,
.container-include {
   width: 100%;
   max-width: 1440px;
   margin-right: auto;
   margin-left: auto;
   position: relative
}

.container-about-footer {
   margin: 0
}

.container-list-footer a {
   font-size: 15px
}

.list-corporative a {
   font-size: 13px;
   font-family: "Roboto";
   font-weight: normal;
   line-height: 13px
}

.list-corporative a:after {
   line-height: 9px;
   height: 10px;
   margin: 0 3px
}

.arrow-toggle h3 {
   font-weight: bold;
   font-size: 15px;
   margin: 0;
   line-height: 15px
}

.container-toggle .list-footer {
   margin-bottom: 16px
}

.container-toggle .list-footer li {
   line-height: normal
}

.container-toggle .list-footer .highlight {
   font-size: 13px;
   font-weight: bold;
   font-family: "Roboto"
}

.about-list {
   font-family: "Roboto"
}

.about-list p,
.about-list span {
   font-size: 12px
}

.about-list .copyright {
   margin: 0
}

.about-list .copyright .icon-elmundo-mobile {
   margin-top: 0;
   margin-bottom: 5px;
   width: 113px;
   height: 15px
}

.footer-social-networks ul {
   margin: 0
}

.footer-social-networks ul li {
   margin: 0 9px 0 0
}

.container-list-footer {
 margin: 30px 0 0;
    padding-left: 30px;
    padding-right: 30px;
}

.container-toggle {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 990px
}

.container-toggle .list-footer {
   width: auto
}

.list-corporative {
   flex-wrap: wrap;
   justify-content: center
}

.container-about-footer .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   padding: 10px 0;
       padding-left: 30px;
    padding-right: 30px;
}

.about-list {
   position: absolute;
   width: 100%
}

.partners {
   display: flex;
   width: 100%
}

.partners li {
   justify-content: space-between;
   max-height: 34px;
   margin: 5px 5px 0 0
}

.partners a {
   display: block
}

.ue-l-cover-grid__section-title {
   margin: 0;
   font-family: "Roboto_condensed";
   text-transform: uppercase;
   font-weight: bold;
   color: #000;
   font-size: 1.0625rem;
   line-height: 1.1875rem;
   letter-spacing: 0rem
}

.loading-next {
   font-family: "Roboto_condensed";
   text-align: left;
   display: inline-block;
   padding: 30px 20px
}

.loading-next span {
   font-size: 16px;
   display: block
}

.loading-next span:last-child {
   color: #000;
   font-size: 20px;
   font-family: "Roboto_condensed";
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px
}

.loading-icon {
   vertical-align: bottom
}

.loading-module {
   border-bottom: 1px solid #2E6D9D;
   border-top: 1px solid #2E6D9D;
   text-align: center;
   max-width: 100%;
   background-color: #fff
}

.banda_suscripcion {
   position: fixed;
   bottom: -70px;
   width: 100%;
   background: #c3d5e5;
   text-align: center;
   z-index: 14;
   transition: all .3s ease-in-out;
   box-shadow: -1px -2px 24px -5px rgba(0, 0, 0, 0.5)
}

.banda_suscripcion.premium {
   background: #f8f6ef
}

.banda_suscripcion.premium .wrap .logo_banda_premium {
   margin-top: 8px;
   margin-right: 10px
}

.banda_suscripcion.premium .wrap a {
   border-left: 1px solid #a88938;
   font-family: "Valencia";
   font-size: 19px
}

.banda_suscripcion .wrap {
   width: 100%;
   max-width: 1440px;
   margin-right: auto;
   margin-left: auto;
   position: relative;
   color: #202020;
   padding: 10px 0;
   display: flex
}

.banda_suscripcion .wrap a {
   color: #202020;
   font-size: 18px;
   font-family: "Roboto";
   padding-left: 15px;
   height: 40px;
   overflow: hidden;
   display: inline-flex;
   place-items: center;
   max-width: 100%;
   white-space: nowrap
}

.banda_suscripcion .wrap a .texto {
   width: 84%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis
}

.banda_suscripcion .wrap a .suscribete {
   border-radius: 5px;
   margin-left: 10px;
   position: relative;
   background-color: #216087;
   color: #fff;
   padding: 10px 15px;
   font-family: "Roboto";
   font-size: 15px;
   font-weight: bold;
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
   display: inline-flex
}

.banda_suscripcion .wrap a .suscribete:hover {
   background-color: #1e4d68
}

.banda_suscripcion .cerrar {
   position: absolute;
   right: 0;
   width: 16px;
   height: 16px;
   top: 22px;
   background: url("") transparent no-repeat center center
}

.lightbox_shadow {
   background: #aaa;
   height: 100%;
   left: 0;
   opacity: .7;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 999999999
}

.lightbox {
   display: none;
   position: absolute;
   text-align: center;
   width: 100%;
   z-index: 999999999999;
   background: #fff
}

.lightbox iframe {
   height: 100%;
   width: 100%
}

.lightbox.inicio-sesion {
   height: 660px;
   width: 410px
}

@media only screen and (min-width: 768px) {
   .lightbox.inicio-sesion {
      position: fixed;
      margin-left: -205px;
      padding: 0;
      top: 50%;
      left: 50%;
      margin-top: -330px
   }
}

.lightbox.inicio-sesion h1 {
   position: absolute;
   clip: rect(0, 0, 0, 0)
}

.lightbox.inicio-sesion.inicio-sesion,
.lightbox.inicio-sesion.zona-usuario {
   overflow-y: hidden
}

.lightbox.inicio-sesion.inicio-sesion iframe,
.lightbox.inicio-sesion.zona-usuario iframe {
   padding-top: 55px;
   background: #999
}

@media only screen and (max-width: 768px) {

   .lightbox.inicio-sesion.inicio-sesion,
   .lightbox.inicio-sesion.zona-usuario {
      overflow: auto;
      position: fixed !important;
      top: 0 !important;
      right: 0;
      height: 100% !important;
      width: 100% !important
   }

   .lightbox.inicio-sesion.inicio-sesion iframe,
   .lightbox.inicio-sesion.zona-usuario iframe {
      width: 100%;
      height: 100%
   }
}

.lightbox.inicio-sesion.inicio-sesion .cerrar,
.lightbox.inicio-sesion.zona-usuario .cerrar {
   display: block
}

@media only screen and (min-width: 990px) {
   .lightbox.inicio-sesion.zona-usuario {
      width: 800px;
      margin-left: -400px
   }
}

.lightbox.send-mail {
   top: 5%;
   margin: 0 auto;
   left: 35%
}

@media only screen and (max-width: 890px) {
   .lightbox.send-mail {
      left: 25%
   }
}

@media only screen and (max-width: 768px) {
   .lightbox.send-mail {
      width: 100%;
      top: 0;
      left: 0;
      margin: 0;
      height: 100%
   }
}

.lightbox .cerrar {
   width: 36px;
   height: 36px;
   cursor: pointer;
   position: absolute;
   top: 13px;
   right: 20px;
   background: url("") no-repeat;
   z-index: 51;
   display: block
}

.lightbox.send-mail {
   height: 600px;
   background-color: #fff;
   width: 330px
}

.lightbox.send-mail .cerrar {
   right: 2px;
   top: 3px
}

.disable-vscroll {
   overflow-y: hidden
}

.disabled-vscroll {
   overflow-y: hidden;
   width: 100%;
   height: 100%
}

.trust--theme {
   --color-01: #000;
   --color-02: #f4f4f4;
   --color-03: #e8e8e8;
   --color-link: #2e6d9d;
   --color-main: #fff;
   --font-family-main: "Clear Sans", Arial, sans-serif, helvetica;
   --font-family-main-bold: "Clear Sans Bold", Arial, sans-serif, helvetica;
   --font-family-second: "PT Serif", Georgia, serif, times;
   --font-family-second-bold: "PT Serif Bold", Georgia, serif, times;
   --font-size-01: 18px;
   --font-size-02: 16px;
   --font-size-03: 14px;
   --font-size-xx: 28px;
   --padding-main: 1em;
   --transition: all 0.35s;
   --transition02: all 2s
}

.trust__logos {
   align-items: center;
   background-color: #e8e8e8;
   display: flex;
   margin: 5px 0;
   width: 100%
}

@media all and (min-width: 760px) {
   .trust__logos {
      flex-direction: row
   }
}

.trust__logo {
   padding: 5px;
   text-align: center
}

.trust__logo-trust {
   align-items: center;
   background-color: #f4f4f4;
   display: flex;
   flex-direction: column;
   line-height: 14px;
   width: 70%
}

@media all and (min-width: 450px) {
   .trust__logo-trust {
      flex-direction: row;
      width: 80%
   }
}

.trust__logo-trust p {
   color: #646363;
   font-family: var(--font-family-main);
   font-size: 13px;
   line-height: 0;
   margin: 0
}

.trust__logo-trust img {
   max-width: 100%;
   padding: 0 5px
}

.trust__logo-info {
   width: 30%
}

@media all and (min-width: 450px) {
   .trust__logo-info {
      width: 20%
   }
}

.trust__logo-info a {
   color: #2e6d9d;
   display: block;
   font-size: 14px;
   line-height: 1.4em
}

.trust .trust__logos .trust__logo-trust p {
   color: #646363;
   font-family: var(--font-family-main);
   font-size: 13px;
   line-height: 0;
   margin: 0 5px 0
}

* {
   box-sizing: border-box
}

body {
   margin: 0
}

ul,
li {
   list-style-type: none;
   margin: 0;
   padding: 0
}

a,
a:hover {
   text-decoration: none
}

iframe {
   margin: 0;
   border: 0
}

.no-visible,
.n-visible {
   display: none !important
}

main[data-ue-navindex]:not([data-ue-navindex="0"]):before {
   position: relative;
   content: " ";
   display: inline-block;
   width: 100%;
   height: 7px;
   border-top: 1px solid #CECECE;
   border-bottom: 1px solid #CECECE;
   background-color: #E2E2E2;
   margin: 8px 0;
   float: left
}

.zindex-notification {
   z-index: 99999999
}

.zindex-side-panel-mask {
   z-index: 9999999
}

.site-header.main-section-header.inside .breadcrumbs .tab-breadcrumb-list {
   height: 43px
}

.site-header-news .tab-news .socialMedia i {
   border: none
}

@media (max-width: 1280px) {
   .ue-c-seo-links {
      max-width: 990px
   }
}

.ue-c-main-header__logo--small {
   box-sizing: initial
}

.ue-cintillo-premium {
   position: fixed;
   bottom: -70px;
   width: 100%;
   background: transparent;
   text-align: center;
   z-index: 100
}